html {
  font-family: 'Roboto', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #4b5d67;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #404258;
  padding: 5px;
  width: 310px;
  height: 460px;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #393646;
  height: auto;
  /* border: 6px solid #334257; */
  border: 1px solid #131212;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 1px solid #131212;
}

.display-previous,
.display-output {
  background-color: rgb(40, 40, 42);
  height: 40px;
  text-align: right;
  color: aliceblue;
  border: 1px solid rgb(40, 40, 42);
  word-wrap: break-word;
  word-break: break-all;
}

.display-previous {
  /* background-color: rgb(73, 73, 88); */
  height: 30px;
  font-size: 16px;
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #6b728e;
}

.display-output {
  flex: 1;
  justify-content: center;
  padding: 8px;
  font-size: 2.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.keypad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  margin-top: auto;
}

.keypad-button {
  width: 100%;
  width: 70px;
  height: 55px;
  font-size: 2rem;
  border: 1px solid black;
  color: brown;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #334257;
  color: azure;
}

.keypad-button:hover {
  background-color: #476072;
  color: #eeeeee;
}

.digit {
  background-color: #6b728e;
}

.keypad-button:active {
  background-color: #476072;
  transform: scale(0.95);
  color: #eeeeee;
  /* color: #334257; */
  /* box-shadow: inset 0px 0px 5px #888; */
}

#equals {
  background-color: #87556f;
}

#equals:hover {
  background-color: #59405c;
  color: #eeeeee;
}
